.layout {
	position: relative;
	width: 100%;
	height: calc(100vh + 420px);
	overflow: hidden;
	background: #222;
	padding: 15vh 0 5vh;

	.content {
		color: #ccc;
		height: 100%;
		padding: 0 10vw;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 4px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 2px;
			background: orange;
		}

		> main {
			width: 100%;
		}
		> section {
			width: 80vw;
			margin: 0px auto;
		}
	}
}

@media screen and (max-width: 1000px) {
	.layout {
		height: 100vh;
	}
}
